@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.ideator {
  color: $purple;
  background: $babyPink;
  font-family: "Open Sans", sans-serif;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: 1fr 128px 128px;
  grid-template-areas: ". load save";
}

.button {
  border-radius: 4px;
  border-color: $purple;
  //button sizing
  height: 36px;
  margin: 16px;
  text-align: center;
  // font
  font-weight: 600;
  font-size: 14px;
  padding: 10px 31px;
  text-align: center;
  letter-spacing: 0.5px;
  transition: transform 0.2s ease-in;
  &:hover {
    transform: scale(1.1);
  }

  &__load {
    grid-area: load;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #121232;
    color: #121232;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__save {
    grid-area: save;
    background-color: $purple;
    border: 1px solid $purple;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.editor {
  text-align: center;
  display: grid;
  grid-gap: 0;
  grid-template: 24px 1fr 96px / 1fr 2fr 1fr;
  grid-template-areas:
    ". icons ."
    ". textarea ."
    ". buttons .";
}

.footer {
  position: static;
  bottom: 16px;
  left: 16px;
  margin-top: 166px;
  font-size: 10px;
}

.form {
  grid-area: textarea;
  padding: 0;

  &__area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
  }

  &__input {
    min-width: 736px;
    min-height: 256px;
    &--bold {
      font-weight: bold;
    }
  }
  &__label {
    align-self: start;
    margin: 8px;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
  }
}

.header {
  text-align: center;

  &__logo {
    margin-top: 42px;
    max-width: 80px;
    max-height: 80px;
    transform: rotate(0.5turn) scale(1.7);
    &--fill {
      fill: $purple;
      transition: fill 0.5s ease-in;
      transition: transform 0.5s ease-in;
      &:hover {
        fill: rgb(230, 198, 18);
      }
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 44px;
    line-height: 64px;
  }

  &__subtitle {
    margin: 0 0 44px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
}

.icons {
  grid-area: icons;
  max-width: 24px;
  max-height: 24px;
  background-color: $babyPink;
  border-radius: 4px;
  display: grid;
  grid-template: 24px / 40px 40px 40px;
  grid-template-areas: "bold italic list";
  transition: transform 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  &__bold {
    grid-area: bold;

    &:hover {
      transform: scale(1.1);
      background-color: rgb(216, 203, 205);
    }
  }
  &__italic {
    grid-area: italic;
    &:hover {
      transform: scale(1.1);
      background-color: rgb(216, 203, 205);
    }
  }
  &__list {
    grid-area: list;
  }
}
